<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schema/Nlog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <targets>
    <target name="allfile" xsi:type="File" fileName="C:\DemoLog\nlog-all-${shortDate}.log">
      
    </target>
  </targets>
  <rules>
    <logger name="*" minlevel="Trace" WriteTo="allfile">
      
    </logger>
  </rules>
</nlog>